[submodule "deps/glfw-sys/glfw"]
	path = deps/glfw-sys/glfw
	url = https://github.com/glfw/glfw.git
[submodule "deps/stb_image-sys/stb"]
	path = deps/stb_image-sys/stb
	url = https://github.com/nothings/stb.git
